---
import { Image } from 'astro:assets';
import logo from '~/assets/logo.png';
import { SITE } from 'astrowind:config';
---

<span class="flex items-center shrink-0" aria-label={SITE?.name}>
  <Image
    src={logo}
    alt="QuickFast Service Company"
    width={200}
    height={60}
    class="h-10 sm:h-12 w-auto"
    loading="eager"
  />
</span>
